$photowidth: 1100px;
$photoheight: calc(#{$photowidth} * 0.6);
$headerWidth: 500px;

.titlePriceWrapper {
  width: 100%;
  height: 100px;
  position: relative;
}
.imageWrapper {
  height: $photoheight;
  position: absolute;
}
.model-title {
  position: absolute;
  top: 0;
  left: 6em;
}
.price {
  position: absolute;
  top: 20px;
  right: 9em;

  height: 100px;
  font-size: 25px;
  font-weight: bold;
}
.miniHeaderLine {
  margin: 0;
  border: 0;
  height: 0;
  width: 220px;
  margin-bottom: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
img {
  width: $photowidth;
  height: $photoheight;
}
.headerLine {
  width: $headerWidth;
  margin: 0;
  border: 0;
  height: 0;
  margin-bottom: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.contentContainer {
  display: flex;
  margin-left: 9%;
  max-width: 1772px;
  //width: 80%;
  margin-top: 20px;
  height: $photoheight;
}
#dropdownContainer {
  margin-left: 9%;
}

.configWrapper {
  width: 540px;
  overflow-y: scroll;
  margin-left: 62%;
  position: relative;
  background-color: rgb(243, 243, 243);
  //#ebebeb
  bottom: 1px;
  .marginConfig {
    margin-left: 30px;
  }
}

h3 {
  margin-bottom: 15px;
  font-size: 23px;
  width: 210px;
}
.optionImg {
  width: 150px;
  height: 85px;
  margin-left: 10px;
  margin-right: 50px;
}

.goBack {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-left: 190px;
  display: grid;
  grid-template-columns: 22px 1fr;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 10px;
}
.headerContainer {
  display: flex;
}
.clearConfig {
  margin-left: 200px;
  margin-top: 30px;
}
.clearConfig:hover {
  cursor: pointer;
}
.flexButton {
  display: flex;
  .dropdownWrapper {
    width: 75%;
  }
  .model-description {
    width: 85%;
  }
}

.button-66 {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset,
    rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.button-66:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
}
@media only screen and (max-width: 1487px) {
  .optionBox {
    width: 80%;
  }
  .configWrapper {
    width: 420px;
    margin-left: 66%;
    .headerLine {
      width: 393px;
    }
  }
  .clearConfig {
    margin-left: 95px;
  }
}

@media only screen and (max-width: 2050px) and( min-width:900px) {
  .img {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 1200px) {
  .contentContainer {
    flex-wrap: wrap;
    width: 1100px;
    margin-left: 3%;
  }
  .configWrapper {
    margin-left: 0;
    width: 100%;
  }
  .imageWrapper {
    position: static;
  }
  #dropdownContainer {
    position: relative;
    top: 900px;
    width: 1100px;
  }
  .price {
    right: -4rem;
  }
  .clearConfig {
    margin-left: 650px;
  }
  .miniHeaderLine {
    width: 700px;
  }
  .optionDescription {
    font-size: 19px;
  }
  @media only screen and (max-width: 700px) {
    .price {
      right: -23rem;

      font-size: 37px;
    }
    h3 {
      font-size: 37px;
    }
    h2 {
      font-size: 40px;
    }
    h1 {
      font-size: 37px;
    }
    .model-title {
      left: 5em;
    }
    #dropdownContainer {
      top: 1020px;
    }
    .goBack {
      font-size: 25px;
    }
    #moreIcon {
      width: 30px;
      height: 30px;
    }
    .optionImg {
      width: 220px;
      height: 125px;
    }
    .optionBox {
      height: 160px;
    }
    #dropdownContainer {
      top: 1320px;
    }
    .clearConfig {
      font-size: 30px;
    }
    .optionDescription {
      font-size: 30px;
    }
    .model-description {
      font-size: 30px;
    }
    .button-66 {
      height: 65px;
      font-size: 30px;
    }
  }
}
